#root {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card {
  display: grid;
  place-items: center;
  width: 100%;
}

.input {
  display: grid;
  place-items: center;
  width: 100%;
}

input {
  width: 100%;
  max-width: 400px;
  padding: 0.3em;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 560px;
  padding: 0.5em;
  border-radius: 10px;
  background-color: #333;
  display: grid;
  place-items: center;
}

.bold {
  font-weight: bold;
}

.pokemon {
  height: 200px;
  display: grid;
  place-items: center;
}

.action {
  margin: 1em;
  width: 100%;
  max-width: 400px;
  background-color: crimson;
  color: rgba(255, 255, 255, 0.87);
}

img {
  width: 128px;
}

.pokemon-image {
  height: 128px;
}
